
.login-Container {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000a7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-Wrapper {
    width: 500px;
    height: 300px;
    background-color: #1f1f1f;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    border-radius: 25px;
}

.login-Close {
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: x-large;
    cursor: pointer;
}
.login-Close:hover{
    transform: scale(1.5s);
}

.login-Title {
    color: #ffffff;
    text-align: center;
    animation: fadeIn 0.50s ease-in-out;
}

.login-Details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0vh;
}

.login-InputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-Input {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: background-color 0.3s ease;
}

.login-Input::placeholder {
    color: #aaa;
}

.login-Input:focus {
    background-color: #444;
}

.login-Wrapper button {
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    color: #000000;
    height: 40px;
    width: 100px;
    padding-bottom: 13px;
    cursor: pointer;
    font-size:large;
}
.login-Wrapper button:hover{
    background-color:#000000;
    color: #ffffff;
    transform: scale(1.05);
}

